<div class="container">
  <div class="row user-form">
    <div class="col-sm-6 col-md-offset-3">
      
<form #expencesForm = "ngForm">

 <div class="form-group">

  <input type="text"
    [(ngModel)] = "expencesDate"
    id="inputEmail"
    name="date"
    placeholder="date">
  </div>

  <div class="form-group">

  <input type="text"
    [(ngModel)] = "expencesUser"
    id="inputEmail"
    name="user"
    placeholder="user">
  </div>

  <div class="form-group">
  <select   [(ngModel)] = "model.categoryListItem" name="category" >
    <option *ngFor="let list of categoryList" [value]="list">{{list}}</option>
  </select>
  </div>

    <div class="form-group">
    <label for="amount"></label>
  <input type="text"
    [(ngModel)] = "model.expencesAmount"
    id="inputEmail"
    name="amount"
    placeholder="amount">
  </div>

    <div class="form-group">
    <label for="amount"></label>
  <input type="otherNotes"
    [(ngModel)] = "expencesOtherNotes"
    id="inputEmail"
    name="email"
    placeholder="otherNotes">
  </div>
<pre>{{ expencesForm.value | json }} </pre>


  <button type="submit" class="btn btn-default" [disabled]= "!expencesForm.form.valid">Submit</button>
</form>

    </div>
  </div>
</div>

