<div class="container">
  <div class="row">
    <h1 class="text-center">Personal Finance</h1>
    <div class="col-sm-4">
      <div class="box">
        <a routerLink="/calc" routerLinkActive="active">
            Compontent Interest
        </a>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="box">
          <a href="">
              Compontent Interest
          </a>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="box">
            <a href="">
                Compontent Interest
            </a>
          </div>
        </div>

  </div>
</div>
